<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section 
        name="tibre"
        type="Tibre.CodeAnalysisRule.Configuration.TibreSection, Tibre.CodeAnalysisRule" 
      />
    </configSections>
    <tibre>
      <anchor
        schema="dbo"
        prefix="D_"
        sufix="Anchor"
       />
      <link
        schema="dbo"
        prefix="FF_"
        sufix="Links"
       />
    </tibre>
</configuration>